{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "commaSpacing":true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "printWidth": 500
}
