a {
    color: #6699ff;
}

a:hover {
    color: #5293ff;
}

.panel-default {
    border-radius: 0;
    transition-duration: .3s;
}

.panel-default > .panel-heading {
    border-bottom: none;
    font-color: #3b4361;
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    padding: 15px;
}

.panel-default:hover {
    box-shadow: 0px 0px 15px #ccc;
}

.panel-default .table {
    border-top: 1px solid #ddd;
}

.panel-default .table thead > tr > th {
    border-bottom: 1px solid #ddd;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}
